NuxtLink.link(href="/admin", target="_blank") Admin Page
//- | &nbsp;
|
||
|
NuxtLink.link(href="/user", target="_blank") User Page
br
br
v-btn(@click="loginWithAdmin", variant="flat", color="blue") {{ $t('loginWithAdmin') }}
| &nbsp;
v-btn(@click="loginWithUser", variant="flat", color="blue") {{ $t('loginWithUser') }}
| &nbsp;
v-btn(@click="logout", variant="flat", color="red") {{ $t('logout') }}
