NuxtLink.link(href="/admin", target="_blank") Admin Page
//- | &nbsp;
|
||
|
NuxtLink.link(href="/user", target="_blank") User Page
br
br
button(@click="loginWithAdmin") Login With Admin
| &nbsp;
button(@click="loginWithUser") Login With User
| &nbsp;
button(@click="logout") Logout
